*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: #390000;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #390000;
}

header{
    background-color: #1E0000;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 3rem;

}
h3{
    font-size: 2rem;
    padding-bottom: 2rem
}
h4{
    font-size: 1.5rem;
    font-weight: 100;
}
input{
    border-radius: 20px;
    width: 20rem;
    padding: 15px;
    height: 2rem;
    background-color: #4A0A0A;
    border: 0;
    color: #BB8989; 
    font-size: large;
}

::-webkit-input-placeholder{
    color: #BB8989;
}
    
.container{
    display: flex;
    align-items: center;
}
#conteudo{
    display: flex;
    align-items: center;
    height: auto;
    width: 85%;
    background-color: #4A0A0A;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.89);
}

#introducao{
    max-width: 50%;
    padding: 30px;
    color: white;
}

#imagem{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 80%;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    #conteudo {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    #introducao {
        max-width: 100%;
        padding: 15px;
        text-align: center;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
        font-weight: 50;
    }

    #imagem {
        width: 100%;
        justify-content: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}